/* iPad・スマホへの振り分け */

/* 表示領域が1020px以上の場合に適用するスタイル（パソコン向け） */
@media screen and (min-width: 1020px) {
}	

/* 表示領域が1019px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 1019px) and (min-width: 551px) {
}

body {
    font: normal normal normal 17px/17px Open Sans;
    color:#262626;
}

header, footer {
    font: normal normal 300 13px/18px Open Sans;
    background: transparent linear-gradient(180deg, #262626 0%, #414141 100%) 0% 0% no-repeat padding-box;
    color:#fff;
}

header {
    display: flex;
    justify-content: space-between;
    width:100%;
    position: fixed;
    z-index: 9000;
}

.header_margin {
    margin-top:139px;
}

.header_padding_sp {
    padding-top:83px;
}

.header_margin_sp {
    margin-top: 83px;
}

footer {
    padding-top: 30px;
    padding-bottom:10px;
}

#registration_pc {
    overflow-x: hidden;
}

#registration_sp {
    overflow-x: hidden;
    font: normal normal normal 12px/16px Open Sans;
    color: #262626;
}

.body_sp {
    min-width:375px;
    text-align:-webkit-center;
}

li {
    list-style: none;
}

select {
    background: #626262 0% 0% no-repeat padding-box;
    color:#fff;
    font: normal normal 600 20px/30px Open Sans;
    height:80px;
    padding-left: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../img/select_bg.png);
    background-position: right;
    background-repeat: no-repeat;
}


.none {
    opacity: 0;
    z-index:-1;
}

.logo_a {
    width:200px;
    height:100%;
    display: block;
    background-color: #fff;
}

.logo_a_sp {
    width:120px;
    height:100%;
    display: block;
    background-color: #fff;
}

.logo_img_sp {
    width:100px;
    display: block;
    margin: auto;
}

.header_logo {
    margin: auto;
    display: block;
}

.header_menu {
    margin-top: 50px;
    width: 1130px;
}

.header_a {
    margin: 22px;
}

.insta_column {
    width:300%;
    height:25px;
    font: normal normal 300 13px/18px Open Sans;
    color:#fff;
    background-color: #E8247D;
    position: fixed;
    top: 114px;
    z-index: 9000;
}

.insta_column_sp {
    width:300%;
    height:15px;
    font: normal normal 600 8px/11px Open Sans;
    color:#fff;
    background-color: #E8247D;
    position: fixed;
    top: 70px;
    z-index: 9000;
}

.insta_scroll {
    padding-top: 2px;
    animation: text_scroll 50s linear infinite;
}
@keyframes text_scroll{
    0% { transform: translateX(0%)}
    100% { transform: translateX(-30%)}
 }
 
.footer_logo {
    margin: auto;
    display: block;
}

.footer_menu {
    text-align: center;
    margin-top:40px;
    margin-bottom: 60px;
}

@media screen and (min-width: 1000px) {
    .footer_menu_n {
        display:none
    }
}	

@media screen and (max-width: 999px) {
    .footer_menu {
        display:none
    }
    .footer_menu_n {
        width:700px;
        margin: 40px auto 60px auto;
    }
    .footer_a {
        width:140px;
        display: inline-block;
        text-align: center;
    }
}

.header_a, .footer_a, .footer_a_sp {
    color:#fff;
    text-decoration: none;
}

.footer_content_sp {
    display: flex;
    margin:30px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_a_sp {
    margin:10px 0;
    width:45%;
    display: block;
}

.copyright {
    text-align: center;
}

/* TOP関連 */

.top_img1, .top_img2, .top_img3, .top_img3_sp {
    width:100%;
}

.top_img3 {
    margin-top: -90px;
}

.top_img3_sp {
    margin-top: -98px;
}

.search_btn {
    position: relative;
    top: -110px;
    right: 100px;
    float: right;
}

.event_btn {
    position: relative;
    top: -110px;
    left: 100px;
    float: left;
}

.search_btn_sp {
    position: relative;
    top: -90px;
    margin: auto;
    display: block;
}

.event_btn_sp {
    position: relative;
    top: -60px;
    margin: auto;
    display: block;
}

.content_div, .content_div_bg {
    padding-top:90px;
    padding-bottom: 150px;
}

.content_div_bg {
    background-image: url(../img/bg1.png);
}

.content_div_sp, .content_div_bg_sp {
    padding-top:50px;
    padding-bottom: 50px;
}

.content_div_bg_sp {
    background-image: url(../img/bg1.png);
}

.content_div_black {
    padding-top:100px;
    padding-bottom: 20px;
    background-color: #3B3B3B;
}

.margin_sp1 {
    margin-top:-60px
}
.main_img {
    margin-top: -130px;
    width: 100%;
}

.main_img_sp {
    width: 100%;
}

.title_text {
    text-align: center;
}

.title_black, .title_pink, .title_white {
    font: normal normal bold 50px/80px Century;
}

.title_black_sp, .title_pink_sp, .title_white_sp {
    font: normal normal bold 28px/45px Century;
    letter-spacing: 2.24px;
}

.title_pink, .title_pink_sp {
    color: #D93983;
}

.title_white, .title_white_sp {
    color: #fff;
}

.title_ja {
    font: normal normal 600 16px/16px Open Sans;
    color: #FFACD2;
}

.title_ja_sp {
    font: normal normal 600 9px/9px Open Sans;
    color: #FFACD2;
}

.title_text2, .title_text_white {
    margin:50px;
}

.title_text2_sp, .title_text_white_sp {
    margin:30px;
}

.title_text_white, .title_text_white_sp {
    color: #fff;
}

.news_list {
    display: flex;
    width:75%;
    margin: auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news_a {
    width:48%;
    color:#262626;
    text-decoration: none;
}

.box_a_sp {
    color:#262626;
    text-decoration: none;
}

.news_list_box {
    width:100%;
    margin-top: 30px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #00000019;
    border: 0.9px solid #D0D0D0;
    padding:20px 30px;
}

.top_news_img {
    width:45%;
    height:220px;
    margin-right: 20px;
    display: inline-block;
}

.list_box_sp {
    margin: 10px 30px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #00000019;
    border: 0.9px solid #D0D0D0;
    padding:10px;
}

.box_img_sp {
    width:40%;
    height:120px;
    margin-right: 10px;
    display: inline-block;
}

.box_title_sp {
    font: normal normal 600 11px/11px Open Sans;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.box_text_sp {
    font: normal normal normal 9px/13px Open Sans;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.box_date_sp {
    font: normal normal normal 8px/16px Open Sans;
}

.info_mark, .golf_mark, .lady_mark {
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 8px;
    width: 46px;
    height: 17px;
    font: normal normal 600 11px/16px Open Sans;
    color: #FFFFFF;
    text-align: center;
}

.info_mark_sp, .golf_mark_sp, .lady_mark_sp {
    border-radius: 3px;
    margin-bottom: 3px;
    width: 36px;
    height: 11px;
    font: normal normal 600 9px/11px Open Sans;
    color: #FFFFFF;
    text-align: center;
}

.info_mark, .info_mark_sp {
    background: #646464 0% 0% no-repeat padding-box;
}

.golf_mark, .golf_mark_sp {
    background: #0034E3 0% 0% no-repeat padding-box;
}

.lady_mark, .lady_mark_sp {
    background: #D90000 0% 0% no-repeat padding-box;
}


.top_news_text {
    margin-top: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.more_btn {
    position: relative;
    top: 35px;
    right: 12.5%;
    float: right;
}

.more_btn_sp {
    position: relative;
    margin: 20px auto;
    display: block;
}

@media screen and (min-width: 1130px) {
    .top_news_title {
        font: normal normal 600 23px/23px Open Sans;
    }
}	

@media screen and (max-width: 1129px) {
    .top_news_title {
        font: normal normal 600 20px/20px Open Sans;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    .top_news_text {
        font: normal normal normal 13px/13px Open Sans;
    }
}

.top_ranking_list {
    display:flex;
    width:75%;
    margin:auto;
}

.top_ranking_list_sp {
    display:flex;
    width:100%;
    height: 210px;
}

.top_ranking_content {
    width:20%;
}

.top_ranking_content_sp {
    width:25%;
}

.top_ranking_img {
    width: 100%;
}

.top_rank_mark {
    bottom: 88%;
    left: 2%;
    position: relative;
    width: 20%;
}

.top_ranking_text {
    top: 10px;
    left: -30px;
    position: relative;
    display: inline-block;
}

.top_ranking_name {
    top: 10px;
    position: relative;
    display: inline-block;
    font-weight:bold;
}

.top_ranking_text_sp, .top_ranking_name_sp {
    top: 10px;
    text-align: center;
    position: relative;
}

.top_ranking_name_sp {
    font: normal normal bold 13px/13px Open Sans;
}

@media screen and (min-width: 1200px) {
    .top_ranking_content {
        font: normal normal normal 13px/13px Open Sans;
    }
}	

@media screen and (max-width: 1199px) {
    .top_ranking_content {
        font: normal normal normal 10px/10px Open Sans;
    }
}

.rank_up_color {
    color: #D90000;
}

.rank_down_color {
    color: #0034E3;
}

/* TOP関連ここまで */

/* GOLJOサーチ関連 */
.search_form, .search_list {
    width:75%;
    text-align: center;
    margin:auto;
}

.search_list {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    flex-wrap : wrap;
}

.search_text {
    width:100%;
    margin-top:50px;
    margin-bottom: 20px;
}

.select_tag, .select_name {
    width:48%;
}

.select_tag {
    float: left;
}

.select_name {
    float: right;
}

.search_page_before, .search_page_after {
    display: flex;
    justify-content: space-between;
    font: normal normal normal 17px/30px Open Sans;
    margin:150px auto 100px auto;
    width: 75%;
}

.search_page_before {
    margin:150px auto 100px auto;
}

.search_page_after {
    margin:60px auto 0px auto;
}

.search_count {
    font: normal normal normal 27px/30px Open Sans;
}

.search_counter_sp {
    text-align: center;
}

.search_count_sp {
    font: normal normal normal 18px/20px Open Sans;
}

.search_list_item {
    width: 18%;
    padding-bottom: 20px;
}

.search_list_img {
    width: 100%;
}

.search_list_name {
    font: normal normal 600 16px/16px Open Sans;
    margin-top: 10px;
    margin-bottom: 12px;
}

.search_list_area {
    font: normal normal 600 14px/14px Open Sans;
}

.search_radio_list {
    width:100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
}

.search_radio {
    display: none;
}

label {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    width:16%;
    padding: 18px;
    letter-spacing: 5px;
    font: normal normal normal 24px/24px Open Sans;
}

.search_radio:checked + label {
    background-color: #E8247D;
    color: #fff;
}
/* GOLJOサーチ関連ここまで */

/* イベント等関連 */
.search_form2, .search_list2 {
    width:60%;
    margin:auto;
}

.search_form_sp {
    margin: 5%;
}

.select_name2 {
    width: 100%;
}

.select_sp {
    width: 100%;
    height: 50px;
    font: normal normal 600 12px/18px Open Sans;
    background-image: url(../img/select_bg_sp.png);
}

.page_div, .page_div_news {
    display: flex;
    justify-content: space-between;
    font: normal normal normal 17px/30px Open Sans;
    margin:30px auto 60px auto;
    width: 60%;
}

.page_div {
    width: 60%;
}

.page_div_news {
    width: 75%;
}

.search_list_box {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #00000019;
    border: 0.9px solid #D0D0D0;
    padding: 20px 30px;
    color: #262626;
}

.area_mark {
    background: #646464 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-top: 10px;
    width: 60px;
    height: 17px;
    font: normal normal 600 11px/16px Open Sans;
    color: #FFFFFF;
    text-align: center;
}

.area_mark_sp {
    background: #646464 0% 0% no-repeat padding-box;
    border-radius: 3px;
    margin-bottom: 3px;
    width: 50px;
    height: 14px;
    padding-top: 2px;
    font: normal normal 600 9px/11px Open Sans;
    color: #FFFFFF;
    text-align: center;
}


@media screen and (min-width: 1300px) {
    .search_box_img {
        width: 30%;
        margin-right: 30px;
    }
        
    .search_box_date {
        margin-top:10px;
    }

    .search_box_title {
        font: normal normal 600 23px/23px Open Sans;
        margin-top: 10px;
    }
    
    .search_box_text {
        font: normal normal normal 17px/20px Open Sans;
        margin-top: 30px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        word-break: break-all
    }
}	

@media screen and (max-width: 1299px) {
    .search_box_img {
        width: 40%;
        margin-right: 30px;
    }

    .search_box_date {
        font: normal normal normal 13px/13px Open Sans;
        margin-top:8px;
    }

    .search_box_title {
        font: normal normal 600 20px/20px Open Sans;
        margin-top: 8px;
    }
    
    .search_box_text {
        font: normal normal normal 13px/16px Open Sans;
        margin-top: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        word-break: break-all
    }
}

/* イベント等関連ここまで */

/* ランキング関連 */

.ranking_list, .ranking_list_sp {
    margin:auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    flex-wrap : wrap;
}

.ranking_list {
    width:75%;
}

.ranking_list_sp {
    width:90%;
}

.ranking_list_item {
    width: 18%;
    padding-bottom: 20px;
}

.ranking_list_item_sp {
    width: 48%;
    padding-bottom: 20px;
}

.ranking_list_img {
    width: 100%;
}

.rank_mark {
    bottom: 78%;
    left: 2%;
    position: relative;
    width: 20%;
}

.rank_mark_sp {
    bottom: 78%;
    left: 3%;
    position: relative;
    width: 20%;
}

.ranking_list_name {
    text-align: center;
    font: normal normal 600 16px/16px Open Sans;
    margin-top: -30px;
    margin-bottom: 12px;
}

.ranking_list_name_sp {
    text-align: center;
    font: normal normal 600 11px/11px Open Sans;
    margin-top: -25px;
    margin-bottom: 12px;
}

.ranking_list_area {
    text-align: center;
    font: normal normal 600 14px/14px Open Sans;
}

.ranking_list_area_sp {
    text-align: center;
    font: normal normal 600 10px/10px Open Sans;
}

/* ランキング関連ここまで */

/* カタログ関連 */
.catalog_title {
    margin-left:10%;
    margin-top:100px;
}

.catalog_black, .catalog_pink {
    font: normal normal bold 30px/48px serif;
    letter-spacing: 2.4px;
}

.catalog_pink {
    color: #E8247D;
}

.catalog_list {
    width:80%;
    margin:15px auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    flex-wrap : wrap;
}

.catalog_list_box {
    width:24%;
}

.catalog_box_img {
    width:100%;
}

.catalog_box_text {
    margin-top: 8px;
    font-weight: bold;
}

.best_item {
    width:80%;
    margin:15px auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap : wrap;
}

.preview_main_img {
    width:35%;
    height: fit-content;
}

.preview_list {
    width:55%;
    margin-left: 40px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap : wrap;
}

.preview_list_box1 {
    width:45%;
    padding:0 20px 20px 0;
    border-right:1px solid #262626;
    border-bottom:1px solid #262626;
}

.preview_list_box2 {
    width:45%;
    padding:0 0 20px 20px;
    border-left:1px solid #262626;
    border-bottom:1px solid #262626;
}

.preview_list_box3 {
    width:45%;
    padding:20px 20px 0 0;
    border-right:1px solid #262626;
    border-top:1px solid #262626;
}

.preview_list_box4 {
    width:45%;
    padding:20px 0 0 20px;
    border-left:1px solid #262626;
    border-top:1px solid #262626;
}

.preview_list_img {
    width:100%;
}

.preview_box_text {
    margin-top: 15px;
    font-weight: bold;
}

/* カタログ関連ここまで */
.error_message {
    font-size: 15px;
    font-weight: bold;
    color:red;
    text-align: center;
}

.td1s {
    transition: .6s;
    transition-delay: .1s;
}

.td2s {
    transition: .6s;
    transition-delay: .2s;
}

.td3s {
    transition: .6s;
    transition-delay: .3s;
}

.td4s {
    transition: .6s;
    transition-delay: .4s;
}

.td5s {
    transition: .6s;
    transition-delay: .5s;
}

.td6s {
    transition: .6s;
    transition-delay: .6s;
}

.td7s {
    transition: .6s;
    transition-delay: .7s;
}

.td8s {
    transition: .6s;
    transition-delay: .8s;
}


/* ページネーション関連 */
.active_page, .other_page {
    border-radius: 5px;
    width: 40px;
    text-align: center;
    line-height: 37px;
    margin:0 4px;
}

.active_page_sp, .other_page_sp {
    border-radius: 5px;
    width: 40px;
    text-align: center;
    line-height: 29px;
    margin:0 4px;
}

.active_page, .active_page_sp {
    background: #E8247D 0% 0% no-repeat padding-box;
    color:#fff;
}

.other_page, .other_page_sp {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
}

.other_page a, .other_page_sp a {
    color: #262626;
}

.page_next_img, .page_prev_img {
    margin:0 4px;
}

.page_next_img_sp, .page_prev_img_sp {
    margin:0 2px;
}

.page_img_sp {
    width:80px;
}
/* ページネーション関連ここまで */

/* 詳細ページ関連 */
.detail_div {
    width:80%;
    margin:auto;
    padding:20px 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #00000019;
    border: 0.9px solid #D0D0D0;
}

.detail_img {
    width:100%;
    margin-bottom: 30px;
}

.detail_title {
    font: normal normal 600 40px/40px Open Sans;
    margin-top:20px;
}

.detail_content {
    font: normal normal normal 17px/26px Open Sans;
    margin-top: 50px;
    margin-bottom: 50px;
}

.news_btn_list {
    height:50px;
}

.news_prev_btn {
    float:left;
}

.news_next_btn {
    float:right;
}

.recent_div {
    width:78%;
    margin:100px auto 0 auto;
}

.recent_black, .recent_pink {
    font: normal normal bold 30px/48px serif;
    letter-spacing: 2.4px;
}

.recent_pink {
    color: #E8247D;
}

.recent_list {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recent_a {
    width: 48%;
    color: #262626;
    text-decoration: none;
}

.recent_list_box {
    width: 100%;
    margin-top: 30px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #00000019;
    border: 0.9px solid #D0D0D0;
    padding: 20px 30px;
}

.recent_list_img {
    width: 45%;
    height: 220px;
    margin-right: 20px;
    display: inline-block;
}

.recent_date {
    margin:10px 0;
}

.recent_text {
    margin-top: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

@media screen and (min-width: 1130px) {
    .recent_title {
        font: normal normal 600 23px/23px Open Sans;
    }
}	

@media screen and (max-width: 1129px) {
    .recent_title {
        font: normal normal 600 20px/20px Open Sans;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    .recent_text {
        font: normal normal normal 13px/13px Open Sans;
    }
}

/* 詳細ページ関連ここまで */


/*以下ハンバーガーメニューについて*/

.menu-btn {
    position: absolute;
    right: 4%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background: transparent linear-gradient(180deg, #262626 0%, #414141 100%) 0% 0% no-repeat padding-box;
    border: none;
    margin-right: -10px;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 5px;
    width: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 12px;
}
.menu-btn span:after {
    top: 12px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}


.menu-content {
    width: 100%;
    position: fixed;
    top: 85px;
    height: 1000px;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background: transparent linear-gradient(180deg, #262626 0%, #414141 100%) 0% 0% no-repeat padding-box;
    transition: all 0.5s;/*アニメーション設定*/
}

.menu-content ul {
    padding: 35px 40px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}


.menu_head_sp, .menu_content_sp {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    position: relative;
    text-align: center;
    font: normal normal 600 20px/27px Open Sans;
}

.menu_head_sp {
    padding: 10px 15px 8px 0;
}

.menu_content_sp {
    padding: 30px 15px 8px 0;
}


#menu-btn-check:checked ~ .menu-content {
    left: 0px;/*メニューを画面内へ*/
}

.current {
    background: rgba(255,255,255,0.3);
}

#lightbox img {
    position:relative;
    z-index: 20;
}

.lb-prev {
    left: -80px!important;
    position: absolute;
    opacity:1!important;
}

.lb-next {
    right: -80px!important; 
    position: absolute;
    opacity:1!important;
}
