/* iPad・スマホへの振り分け */

/* 表示領域が1020px以上の場合に適用するスタイル（パソコン向け） */
@media screen and (min-width: 1020px) {
}	

/* 表示領域が1019px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 1019px) and (min-width: 551px) {
}

body {
    font: normal normal normal 17px/17px Open Sans;
    color:#262626;
}

header, footer {
    font: normal normal 300 13px/18px Open Sans;
    background-color: #262626;
    color:#fff;
}

header {
    display: flex;
    justify-content: space-between;
    width:100%;
    position: fixed;
    z-index: 9000;
}

.header_margin {
    margin-top:139px;
}

footer {
    padding-top: 30px;
    padding-bottom:10px;
}

#registration_pc {
    overflow-x: hidden;
}

.body_sp {
    min-width:375px;
    text-align:-webkit-center;
}

li {
    list-style: none;
}

select {
    background: #626262 0% 0% no-repeat padding-box;
    color:#fff;
    font: normal normal 600 20px/30px Open Sans;
    height:80px;
    padding-left: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../img/select_bg.png);
    background-position: right;
    background-repeat: no-repeat;
}


.none {
    opacity: 0;
    z-index:-1;
}

.logo_a {
    width:200px;
    height:100%;
    display: block;
    background-color: #fff;
}

.header_logo {
    margin: auto;
    display: block;
}

.header_menu {
    margin-top: 50px;
    width: 1130px;
}

.header_a {
    margin: 22px;
}

.insta_column {
    width:300%;
    height:25px;
    font: normal normal 300 13px/18px Open Sans;
    color:#fff;
    background-color: #E8247D;
    position: fixed;
    top: 114px;
    z-index: 9000;
}

.insta_scroll {
    padding-top: 2px;
    animation: text_scroll 50s linear infinite;
}
@keyframes text_scroll{
    0% { transform: translateX(0%)}
    100% { transform: translateX(-30%)}
 }
 
.footer_logo {
    margin: auto;
    display: block;
}

.footer_menu {
    text-align: center;
    margin-top:40px;
    margin-bottom: 60px;
}

@media screen and (min-width: 1000px) {
    .footer_menu_n {
        display:none
    }
}	

@media screen and (max-width: 999px) {
    .footer_menu {
        display:none
    }
    .footer_menu_n {
        width:700px;
        margin: 40px auto 60px auto;
    }
    .footer_a {
        width:140px;
        display: inline-block;
        text-align: center;
    }
}

.header_a, .footer_a {
    color:#fff;
    text-decoration: none;
}

.copyright {
    text-align: center;
}

/* TOP関連 */

.top_img1, .top_img2, .top_img3 {
    width:100%;
}

.top_img3 {
    margin-top: -90px;
}

.search_btn {
    position: relative;
    top: -110px;
    right: 100px;
    float: right;
}

.event_btn {
    position: relative;
    top: -110px;
    left: 100px;
    float: left;
}

.content_div {
    padding-top:90px;
    padding-bottom: 150px;
}

.content_div_bg {
    padding-top:90px;
    padding-bottom: 150px;
    background-image: url(../img/bg1.png);
}

.title_text {
    text-align: center;
}

.title_black, .title_pink {
    font: normal normal bold 50px/80px Century;
}

.title_pink {
    color: #D93983;
}

.title_ja {
    font: normal normal 600 16px/16px Open Sans;
    color: #FFACD2;
}

.title_text2 {
    margin:50px;
}

.top_news_list {
    display: flex;
    justify-content: space-between;
    width:75%;
    margin: auto;
}

.top_news_box {
    width:48%;
    margin-top: 30px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #00000019;
    border: 0.9px solid #D0D0D0;
    padding:20px 30px;
}

.top_news_img {
    width:45%;
    height:220px;
    margin-right: 20px;
    display: inline-block;
}

.top_news_content {
    display: inline-block;
}

.info_mark, .golf_mark, .lady_mark {
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 8px;
    width: 46px;
    height: 17px;
    font: normal normal 600 11px/16px Open Sans;
    color: #FFFFFF;
    text-align: center;
}

.info_mark {
    background: #646464 0% 0% no-repeat padding-box;
}

.golf_mark {
    background: #0034E3 0% 0% no-repeat padding-box;
}

.lady_mark {
    background: #D90000 0% 0% no-repeat padding-box;
}


.top_news_text {
    margin-top: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.more_btn {
    position: relative;
    top: 35px;
    right: 12.5%;
    float: right;
}

@media screen and (min-width: 1130px) {
    .top_news_title {
        font: normal normal 600 23px/23px Open Sans;
    }
}	

@media screen and (max-width: 1129px) {
    .top_news_title {
        font: normal normal 600 20px/20px Open Sans;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    .top_news_text {
        font: normal normal normal 13px/13px Open Sans;
    }
}

.top_ranking_list {
    display:flex;
    width:75%;
    margin:auto;
}

.top_ranking_content {
    width:20%;
}

.top_ranking_img {
    width: 100%;
}

.top_rank_mark {
    bottom: 88%;
    left: 2%;
    position: relative;
    width: 20%;
}

.top_ranking_text {
    top: 10px;
    left: -30px;
    position: relative;
    display: inline-block;
}

.top_ranking_name {
    top: 10px;
    position: relative;
    display: inline-block;
    font-weight:bold;
}

@media screen and (min-width: 1200px) {
    .top_ranking_content {
        font: normal normal normal 13px/13px Open Sans;
    }
}	

@media screen and (max-width: 1199px) {
    .top_ranking_content {
        font: normal normal normal 10px/10px Open Sans;
    }
}

.rank_up_color {
    color: #D90000;
}

.rank_down_color {
    color: #0034E3;
}

/* TOP関連ここまで */

/* GOLJOサーチ関連 */
.search_form, .search_list {
    width:75%;
    text-align: center;
    margin:auto;
}

.search_list {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    flex-wrap : wrap;
}

.search_text {
    width:100%;
    margin-top:50px;
    margin-bottom: 20px;
}

.select_tag, .select_name {
    width:48%;
}

.select_tag {
    float: left;
}

.select_name {
    float: right;
}

.search_page_before, .search_page_after {
    display: flex;
    justify-content: space-between;
    font: normal normal normal 17px/30px Open Sans;
    margin:150px auto 100px auto;
    width: 75%;
}

.search_page_before {
    margin:150px auto 100px auto;
}

.search_page_after {
    margin:60px auto 0px auto;
}

.search_count {
    font: normal normal normal 27px/30px Open Sans;
}
.search_list_item {
    width: 18%;
    padding-bottom: 20px;
}

.search_list_img {
    width: 100%;
}

.search_list_name {
    font: normal normal 600 16px/16px Open Sans;
    margin-top: 10px;
    margin-bottom: 12px;
}

.search_list_area {
    font: normal normal 600 14px/14px Open Sans;
}

.search_radio_list {
    width:100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
}

.search_radio {
    display: none;
}

label {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    width:16%;
    padding: 18px;
    letter-spacing: 5px;
    font: normal normal normal 24px/24px Open Sans;
}

.search_radio:checked + label {
    background-color: #E8247D;
    color: #fff;
}
/* GOLJOサーチ関連ここまで */

.error_message {
    font-size: 15px;
    font-weight: bold;
    color:red;
    text-align: center;
}

.td1s {
    transition: .6s;
    transition-delay: .1s;
}

.td2s {
    transition: .6s;
    transition-delay: .2s;
}

.td3s {
    transition: .6s;
    transition-delay: .3s;
}

.td4s {
    transition: .6s;
    transition-delay: .4s;
}

.td5s {
    transition: .6s;
    transition-delay: .5s;
}

.td6s {
    transition: .6s;
    transition-delay: .6s;
}

.td7s {
    transition: .6s;
    transition-delay: .7s;
}

.td8s {
    transition: .6s;
    transition-delay: .8s;
}